<footer id="footer">
  <div class="footer-left">
    <%= config.author || config.title %>
    <%# new Date().getFullYear(); #%>
    • Fait avec <a href="https://hexo.io">Hexo</a>
    • Police : <a href="https://software.sil.org/gentium/" target="blank">Gentium</a> et <a href="https://fonts.google.com/specimen/Francois+One?selection.family=Francois+One&sidebar.open=true#standard-styles" target="blank">François One</a>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %>
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
