<footer id="footer">
  <div class="footer-left">
    <%= config.author || config.title %>
    <%# new Date().getFullYear(); %>
    • Fait avec <a href="https://hexo.io">Hexo</a> et <a href="https://github.com/probberechts/hexo-theme-cactus">Cactus</a>
    • Police : <a href="https://velvetyne.fr/fonts/avara/">Avara</a>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %>
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
