// Fonts
// $font-family-body = "Avara_Bold", "Times", serif
$font-family-body = 'Gentium Book Basic', serif
// $font-family-body = 'EB Garamond', serif
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 1.3rem
$line-height = 1.36
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
// Colors
$colors = hexo-config("colorscheme") || "dark"
